### macOS junk files
*.DS_Store


### Ignorable JMRI Files

# runtime artifacts
messages.log*
session.log

# transient information
blockvalues.xml 

# backups
backupPanels/
*.bak

# local profiles
user-interface.xml
**/e2eee3fb-a592-43c2-843b-ac0ae819edb9/
**/a62d1ef2-2941-420f-add6-b4862fbc744b/

### Ignorable LaTex files
*.aux
*.log
*.out


### Ignorable XCode files

# User settings
xcuserdata/

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

